<h1>All Doctors</h1>


<table>
  <tr>
    <th>Doctor</th>
    <th>Patients</th>
  </tr>
    <% @doctors.each do |doc| %>
    <tr>
      <td><%= link_to doc.name, doc %></td>
      <td><%= doc.patients.count %></td>
    </tr>
    <% end %>
</table>
